main section {
    padding: 1.5em;
}

section h2 {
    text-align: center;
}

/* Intro Section */

.intro {
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.fw-bg-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url('/assets/img/top-banner.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: whitesmoke;
    font-family: var(--ff-h1);
    font-weight: 400;
    font-style: normal;
    font-size: var(--s5);
    line-height: var(--s5);
    text-align: center;
}

.intro p {
    max-width: 70ch;
    margin: 1em;
    align-self: center;
    text-align: center;
}

/* Services */
.services {
    background-color: var(--bg-2);
    color: var(--bg-1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Visit Us */
.visit-us {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.visit-us img {
    border-radius: 1rem;
}

/* Featured Instruments */
.featured {
    background-color: var(--bg-2);
    color: var(--text-1);
}

.featured h2 {
    color: var(--bg-1);
}

.cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featured .card {
    background: var(--bg-1);
    margin: 1rem;
    max-width: 323px;
    text-align: center;
    padding: 1rem;
    border-radius: .5rem;
}

.featured .card-title {
    font-size: var(--s2);
    margin: .5rem 0;
}

.featured .card-description {
    font-size: var(--s-1);
    margin: .5rem;
}

.featured .card-image {
    width: 100%;
    height: auto;
    border-radius: 0;
}


@media (min-width: 700px) {}