section {
    display: flex;
    flex-direction: column;
    padding: 3em;
    align-items: center;
    gap: 1em;
}

section > * {
    width: 300px;
}

h1, h2 {
    text-align: center;
}

main > :nth-child(even) {
    background-color: var(--bg-2);
    color: var(--bg-1);
}

/* Intro Section */

.intro {
    padding: 0 0 3rem 0;
    gap: 2em;
}

.fw-bg-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url('/assets/img/top-banner.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100% !important;
    max-width: 100% ;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: whitesmoke;
    font-family: var(--ff-h1);
    font-weight: 400;
    font-style: normal;
    font-size: var(--s5);
    line-height: var(--s5);
}

/* Services */
.services > ul {
    list-style: disc;
    list-style-position: inside;
}

/* Visit Us */
.visit-us > div {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

/* Featured Instruments */

.featured h2 {
    color: var(--bg-1);
}

.cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featured .card {
    color: var(--text-1);
    background: var(--bg-1);
    margin: 1rem;
    max-width: 323px;
    text-align: center;
    padding: 1rem;
    border-radius: var(--border-radius);
}

.featured .card-title {
    font-size: var(--s2);
    margin: .5rem 0;
}

.featured .card-description {
    font-size: var(--s-1);
    margin: .5rem;
}

.featured .card-image {
    width: 100%;
    height: auto;
    border-radius: 0;
}

.media .cards-container {
    display:none;
}

.media .carousel {
    height: 200px;
}


@media (min-width: 700px) {
    h1 {
        font-size: 72px;
    }

    h2 {
        font-size: 40px;
    }

    body {
        font-size: 20px;
    }

    section > * {
        width: 650px;
    }

    .services {
        flex-direction: row;
        justify-content: center;
        gap: 50px;
    }

    .services > * {
        width: 300px;
    }

    .visit-us {
        gap: 3em;
    }
    .visit-us > div {
        flex-direction: row;
        gap: 50px;
    }

    .visit-us > div > * {
        width: 300px;
    }

    .media .carousel {
        display: none;
    }
    .media .cards-container {
        display: block;
    }
}

@media (min-width: 1000px) {

    section > * {
        width: 900px;
    }

    .services > * {
        width: 425px;
    }

    .visit-us {
        gap: 3em;
    }

    .visit-us > div > * {
        width: 425px;
    }

   .cards-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}