main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

section {
    padding: 3em;
}

section:nth-child(odd) img {
    float: left;
    border-radius: var(--border-radius);
    margin: 1ch;
}

section:nth-child(even) img {
    float: right;
    border-radius: var(--border-radius);
    margin: 1ch;
}

section:nth-child(odd) {
    background-color: var(--bg-2);
    color: var(--bg-1);
}

section:nth-child(odd) a {
    color: blue
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.bio-title {
    font-size: 2rem;
    font-weight: bold;
    font-family: var(--ff-heading);
    margin-bottom: 0.5rem;
}


@media (min-width:600px) {
    section {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    section>div {
        max-width: 70ch;
    }
}