/* Fonts */
@font-face {
    font-family: "ParisineClair";
    src:
        url("assets/fonts/ParisineClair Regular.otf") format("opentype");
}

@font-face {
    font-family: "MacondoSwashCaps";
    src:
        url("assets/fonts/MacondoSwashCaps-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Didot";
    src:
        url("assets/fonts/GFSDidot-Regular.ttf") format("truetype");
}

:root {
    --ratio: 1.25;
    --s-5: calc(var(--s-4) / var(--ratio));
    --s-4: calc(var(--s-3) / var(--ratio));
    --s-3: calc(var(--s-2) / var(--ratio));
    --s-2: calc(var(--s-1) / var(--ratio));
    --s-1: calc(var(--s0) / var(--ratio));
    --s0: 1rem;
    --s1: calc(var(--s0) * var(--ratio));
    --s2: calc(var(--s1) * var(--ratio));
    --s3: calc(var(--s2) * var(--ratio));
    --s4: calc(var(--s3) * var(--ratio));
    --s5: calc(var(--s4) * var(--ratio));

    --ff-heading: Didot, serif;
    --ff-h1: MacondoSwashCaps, Arial, Helvetica, system-ui, sans-serif;
    --ff-body: ParisineClair, Arial, Helvetica, system-ui, sans-serif;

    --bg-1: #061e20;
    --text-1: #cdb789;
    --bg-2: #F0F7F4;
    --text-2: whitesmoke;
    --highlight-1: #e5f298ff;

    --border-radius: 10px;
}

/* //////////////////////
      RESET - source: https://piccalil.li/blog/a-modern-css-reset
      /////////////////////// */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul:where([role="list"]),
ol:where([role="list"]) {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* || MOBILE STYLES */
body {
    background-color: var(--bg-1);
    color: var(--text-1);
    font-family: var(--ff-body);
    font-size: 16px;
    width: 100%;
}

a,
a:visited {
    color: var(--text-1);
}

a:hover,
a:active {
    color: var(--highlight-1);
}

h1,
h2,
h3,
.btn-primary {
    font-family: var(--ff-heading);
}

#skip-to-main {
    color: var(--text-1);
    position: absolute;
    top: -1.8em;
    left: 50%;
    translate: -50%;
    transition: top 0.2s ease-in-out;
}

#skip-to-main:focus {
    top: 5px;
    transition-delay: 0s;
}

#skip-to-main:not(:focus) {
    transition-delay: 1s;
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

header img {
    width: 63.5px;
    height: 80px;
}

header a,
header a:visited {
    color: var(--text-1);
}

header a:hover,
header a:active,
header a[aria-current="page"] {
    color: var(--highlight-1);
    font-weight: bold;
}

header ul {
    display: flex;
    gap: 2rem;
    margin-right: 2rem;
}

/* Footer */
footer {
    font-size: var(--s-1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}
