:root {
    --bg-1: #061e20;
    --text-1: #cdb789;
    --highlight-1: #e5f298ff;

    --ebony: #5d5d52ff;
    --silver-lake-blue: #5b8cceff;
    --verdigris: #55b2b7ff;
    --fairy-tale: #fbc2dfff;

}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

/* Body */
body {
    background-color: var(--bg-1);
    color: var(--text-1);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

/* Header */
.top-nav {
    background-color: #061e20;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding-right: 1em;
}

.top-nav img {
    width: 63.5px;
    height: 80px;
    justify-self: flex-start;
    margin-left: 0;
}

.top-nav a,
.top-nav a:visited {
    color: var(--text-1);
}

.top-nav a:hover,
.top-nav a:active,
.top-nav a[aria-current="page"] {
    color: var(--highlight-1);
    font-weight: bold;
}

.menu {
    display: flex;
    margin: 0;
    padding: 0;
}

.menu>li {
    margin: 0 1rem;
    overflow: hidden;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: var(--text-1);
    position: absolute;
    height: 4px;
    width: 30px;
    transition: background-color 400ms, transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
    background-color: var(--fairy-tale);
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: var(--bg-1);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
    background-color: var(--verdigris);
}

/* Main */

.fw-bg-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('/assets/img/top-banner.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro {
    display: flex;
    flex-direction: column;
}

h1 {
    color: whitesmoke;
    font-family: "Macondo Swash Caps", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 64px;
    text-align: center;
}

.intro p {
    max-width: 70ch;
    margin: 1em;
    align-self: center;
    text-align: center;
}

@media (max-width: 700px) {
    .menu-button-container {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 0;
        margin-top: 80px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle~.menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked~.menu li {
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu>li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: #222;
    }

    .menu>li:not(:last-child) {
        border-bottom: 1px solid #444;
    }
}