<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta
            name="description"
            content="Sarette Violin Studio. Offering music lessons and instrument rental in Huntsville, AL. Highly qualified and experienced Suzuki and traditional violin instruction for all ages!">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="stylesheet" href="/assets/css/styles.css">
        <title>Drew Sarette</title>
    </head>
    <body data-pagefind-body>
        <a href="#main-content" id="skip-to-main">Skip to main content</a>
        {% include 'partials/header.njk' %}
        <main class="stack" id="main-content">
            {{ content | safe }}
        </main>
        {% include 'partials/footer.njk' %}
    </body>
</html>