---
title: DSVS | Home
layout: 'layouts/base.njk'
---

<section class="stack">
  <h1>Drew Sarette</h1>
  <p>Drew is a professional violinist and teacher with 10+ years experience working with students of all ages, experience
    levels, and backgrounds. He holds a master's degree in violin performance and pedagogy from the University of
    Louisville, and has completed Suzuki teacher training. He is passionate about showing students how to become their own
    teacher, and become lifelong musicians!
    <a href="/lessons/about-me/">Read my full bio</a>
  </p>
  <img class="article-img" src="/assets/img/headshot-upscaled.jpg" alt="Drew Sarette">
</section>
<section>
  <h2>Services Offered</h2>
  <div class="services-flex">
    <ul>
      <li>Private lessons for all ages and levels</li>
      <li>In-person, virtual, and hybrid options</li>
      <li>Sectionals for school orchestras</li>
      <li>Coaching for auditions</li>
      <li>Violin rentals</li>
    </ul>
    <a title="Lessons sign-up" href="/lessons/" class="btn-primary">Take lessons!</a>
  </div>
</section>
<section>
  <h2>Testimonials</h2>
  <div class="stack">
    <blockquote class="testimonials__blockquote">
      <p>Drew is an amazing and kind teacher. He has helped me in so many ways with my violin playing. He helped me improve my
        playing posture along with some techniques and playing in general. Drew is awsome and I am very happy to have him as my
        teacher!</p>
      <cite class="testimonials__cite">
        - Carleigh S.</cite>
    </blockquote>
    <blockquote class="testimonials__blockquote">
      <p>"Mr. Drew is an excellent teacher! I love how he makes my violin pieces funny. He always gives nice compliments every
        lesson. He is very calm and explains different ways how to work on techniques and songs that help me remember and
        understand. He shows me on his violin how my hands should look. I'm very thankful he's my teacher and love my lesson
        time!</p>
      <cite class="testimonials__cite">
        - Scarlett C.</cite>
    </blockquote>
    <blockquote class="testimonials__blockquote">
      <p>Drew is a great instructor and does a great job of helping me get better at playing my instrument.</p>
      <cite class="testimonials__cite">
        - Isabella S.</cite>
    </blockquote>
    <blockquote class="testimonials__blockquote">
      <p>
        Your lessons are a 10/10. Would recommend. You are a great teacher, who explains things well and are very patient. You
        are well organized and keep the lessons interesting. I have improved greatly in my playing thanks to your teaching!
        Thank you so much for being so wonderful!</p>
      <cite class="testimonials__cite">
        - Maxwell B.</cite>
    </blockquote>
    <blockquote class="testimonials__blockquote">
      <p>Drew is a great teacher that has taught me for my whole career and I believe he’s able to help anyone</p>
      <cite class="testimonials__cite">
        - Riku M.</cite>
    </blockquote>
  </blockquote>
  <blockquote class="testimonials__blockquote">
    <p>Drew is a very considerate and kind teacher. He has a lot of patience and genuinely wants you to become a better musician and helps you believe in yourself. He is very good at helping with correct posture and technique. Drew is a wonderful violin teacher. </p>
    <cite class="testimonials__cite">
      - Amelia K.</cite>
  </blockquote>
    <blockquote class="testimonials__blockquote">
    <p>Drew showed a lot of patience while working with my young performer! He is always encouraging and has great suggestions for improvement.</p>
    <cite class="testimonials__cite">
      - Rose S.</cite>
  </blockquote>
</div></section>
