---
title: Lessons
layout: 'layouts/base.njk'
---

<section>
    <h1>Lessons</h1>
        <p>Get started today! Book a 30-minute intro lesson here:</p>
<!-- Calendly link widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
<a class="btn-primary lesson-btn" href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/drew-sarette/trial-lesson'});return false;">Book a lesson</a>
<!-- Calendly link widget end -->
</section>
<section>
    <h2>Before your first lesson...</h2>
    <p>These articles contain everything you need to know before your first lesson.</p>
    <ul role="list" class="stack">
        {% for post in collections.lessons %}
            {% include "partials/snippet.njk" %}
        {% endfor %}
    </ul>
</section>
