---
title: SVS | Privacy
layout: 'layouts/base.njk'
---

I do not collect information from or about site visitors unless you provide it in the contact form.  If you have quesions about what information I have about you, please use the contact form.
Full privacy policy coming soon.