<nav class="next-prev" aria-label="Select next or previous entry">
    <ol role="list" class="next-prev__list">
        {% if prev %}
            <li class="next-prev__prev-li">
                <a class="next-prev__a" href="{{ prev.url }}">previous</a>
            </li>
        {% endif %}
        {% if next %}
            <li class="next-prev__next-li">
                <a class="next-prev__a" href="{{ next.url }}">next</a>
            </li>
        {% endif %}
    </ol>
</nav>